.body {
  background:#fefefe;
  padding-bottom:em(100);
}

.header {
  padding-top:em(25);
  padding-bottom:em(25);
}

.logo {
  em {
    color:#d42c2c;
  }
}

.article {
  @include clearfix;
  margin-bottom:em(50);
  .article__title {
    font-size:em(42);
  }
  .article__hero {
    @include clearfix;
    border:5px solid #dddddd;
    margin:em(10) 0;
  }
  .article__body {
    p {
      margin:1em 0;
      line-height:golden-ratio(em(16), 1);
    }
    figure {
      position:relative;
      float:right;
      clear:right;
      width:150px;
      border:5px solid #dddddd;
      margin:0 0 em(10) em(20);
      img {
        float:left;
        width:100%;
      }
      figcaption {
        position:absolute;
        font-size:em(12);
        color:white;
        bottom:5px;
        right:5px;
      }
    }
  }
  .article__meta {
    font-size:em(12);
  }
  .article__location {
  }
  .article__timestamp {
  }
  @include media($tablet) {
  }
}

.hero {
  position:relative;
  .hero__image {
    float:left;
    width:100%;
  }
  .hero__caption {
    position:absolute;
    font-size:em(12);
    color:#666;
    bottom:5px;
    right:5px;
    &.hero__caption--inverted {
      color:white;
    }
  }
}
