// Colors
$color-black: #000000;
$color-white: #FFFFFF;

$color-grey: #333;

// Colors: Semantic
$color-text: $color-grey;
$color-text-invert: $color-white;
$color-text-link: $color-grey;
$color-text-link-hover: $color-grey;
